{:paths ["src" "test"]

 :deps {ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        ring/ring-mock {:mvn/version "0.4.0"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        compojure/compojure {:mvn/version "1.7.1"}}

 :aliases

 ;; Run with clojure -M:test data/specs/staff-plan.edn
 {:test {:extra-deps {babashka/fs {:mvn/version "0.5.24"}}
         :extra-paths ["test"]
         :main-opts ["-m" "test-runner"]}

  ;; Run with clojure -T:build fn-in-build
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
   :ns-default build}}}
