{:paths ["src" "test"]

 :deps {ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        ring/ring-mock {:mvn/version "0.4.0"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        compojure/compojure {:mvn/version "1.7.1"}}

 :aliases

 ;; Run with clojure -X:test
 {:test {:extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :extra-paths ["test"]
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  ;; Run with clojure -T:build fn-in-build
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
   :ns-default build}}}
